<div fxLayout="column" fxLayoutGap="5vh">
  <div fxFlex class="subheader">Why?</div>
  <div fxFlex fxLayout="row">
    <span class="spacer"></span>
    <div fxFlex="70vw" class="content">
      I have a deep passion for software development, and I love learning new
      skills and staying up to date with current technologies. I believe if you
      don't continue to learn, you start to die (a little dramatic, but I hope
      you get my point). As part of my personal roadmap, I wanted to learn
      another server side technology to complement my Java SpringBoot
      experience. As I am already an experienced Angular developer, I felt it
      would benefit me to become a fullstack Javascript developer.
      <br />
      <br />
    </div>
    <span class="spacer"></span>
  </div>
  <div fxFlex class="subheader">What?</div>
  <div>
    <span class="spacer"></span>
    <div fxFlex="70vw" class="content">
      This started as a small POC to gain experience with building and hosting
      an API using NodeJS and AWS. While I started with just a goal of building
      a simple, RESTful API and a basic client side interface, it has turned
      into a full blown web application with authentication, authorization,
      mobile compatability, monitoring, and more.
      <br />
      The architecture of this application can be seen below
    </div>
    <span class="spacer"></span>
  </div>
</div>
