.spacer {
  flex: 1 1 auto;
}

::ng-deep .mat-toolbar {
  height: 10vh;
}

.toolbar-button {
  font-size: 3vh;
}

mat-icon {
  font-size: 5vh;
}

.hover:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.bottom-toolbar {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */}
