<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="start center">
  <button fxFlex="0 0 auto" mat-button class="toolbar-button">Home</button>
  <button fxFlex="0 0 auto" mat-button class="toolbar-button">Mine</button>
  <button fxFlex="0 0 auto" mat-button class="toolbar-button">Add</button>
  <button fxFlex="0 0 auto" mat-button class="toolbar-button">Explore</button>
  <span class="spacer"></span>
  <button fxFlex="0 0 auto" mat-icon-button class="toolbar-button">
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>

<mat-toolbar
  color="primary"
  fxLayout="row"
  fxLayoutAlign="center center"
  style="bottom: 0px"
>
  <span class="spacer"></span>
  <p fxFlex="0 0 auto" style="margin-bottom: 0px">Michael</p>
  <img
    fxFlex="0 0 auto"
    src="./../favicon.ico"
    style="height: 9vh; width: 9vh; margin-left: 2vw; margin-right: 2vw"
    class="hover"
    (click)="foo()"
  />
  <p fxFlex="0 0 auto" style="margin-bottom: 0px">Mason</p>
  <span class="spacer"></span>
</mat-toolbar>
