<div fxLayout="row" fxLayoutAlign="center center" class="header">
  <span class="spacer"></span>
  <div fxFlex>Recipes Galore</div>
  <span class="spacer"></span>
</div>
<div
  fxLayout="row"
  fxLayoutAlign="center center"
  class="food-picture-container"
>
  <span class="spacer"></span>
  <mat-icon fxFlex class="header-mat-icon"> emoji_food_beverage </mat-icon>
  <span class="spacer"></span>
</div>

<div fxLayout="row" class="content">
  <div fxFlex fxLayout="column">
    <h1 fxFlex>Featured Recipe</h1>
    <h2 fxFlex>Cilantro, Siracha, Soy Sauce Turkey Burgers</h2>
    <p fxFlex>
      This recipe was recommened to me by my wife, Amber. She found it from a
      meal delivery service and instantly loved it! She absolutely loves
      cilantro, and it is complemented nicely by the sriracha and soy sauce. You
      won't regret making this on July 4th or just a normal Tuesday.
    </p>
  </div>
  <div fxFlex fxLayout="column" fxLayoutAlign="center center">
    <mat-icon
      fxFlex="50"
      style="font-size: 20vh; text-align: center; height: 20vh; width: 20vh"
    >
      fastfood
    </mat-icon>
  </div>
</div>
